{% extends 'dashboard/blank.html' %}
{% load static %}

{% block content %}
        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- 404 Error Text -->
          <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">Anda dilarang mengakses halaman ini, Khusus akun Superuser</p>
            <p class="text-gray-500 mb-0">Status anda staff</p>
            <a href="{% url 'profile' %}">&larr; Kembali ke Profile</a>
          </div>

        </div>
        <!-- /.container-fluid -->

{% endblock %}