{% extends "dashboard/blank.html" %}
{% load crispy_forms_tags %}
{% block content %}

          <div class="container">

                <!-- Earnings (Monthly) Card Example -->
            <div class="col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="h5 mb-0 font-weight-bold text-gray-800 text-center">
                                    <form method="POST">
                                    {% csrf_token %}

                                        <div class="form-row">
                                          <div class="form-group col-md-6 offset-md-3">
                                            <label for="inputEmail4">Cari Santri</label>
                                            <input type="email" class="form-control"  placeholder="id rfid">
                                          </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-calendar fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
