{% extends "dashboard/blank.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card shadow border-primary">
        <div class="card-header border-primary">
            <h5 class="m-0 font-weight-bold text-primary">Form Santri Pulang</h5>
        </div>
        <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="container content-section">
                            <form method="POST">
                                {% csrf_token %}
                                <legend class="border-bottom mb-4">Santri {{ santri }} Pulang</legend>
                                    <div class="form-row">
    
                                        <div class="form-group col-md-4">
                                            {{ form.keperluan|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4">
                                            {{ form.masa_durasi|as_crispy_field }}
                                        </div>
                                        <div class="form-group col-md-4">
                                                {{ form.anggotakeluarga|as_crispy_field }}
                                            </div>
                                        <div class="form-group col-md-12">
                                            {{ form.keterangan|as_crispy_field }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-outline-info" type="submit">Tambah</button>
                                    </div>
                                </form>
                            
                        </div>
                      </div>
                    </div>
        </div>
</div>


{% endblock %}