{% extends "dashboard/blank.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="card shadow border-primary">
        <div class="card-header border-primary">
                <h5 class="m-0 font-weight-bold text-primary">Form Registrasi SuperUser</h5>
        </div>
        <div class="card-body">

<div class="row  justify-content-md-center">
        <div class="col-md-6">
        
            <div class="content-section">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom mb-4">Registrasi Super User</legend>
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Sudah punya akun? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                    </small>
                </div>
            </div>
        </div>
        </div>
        </div>
</div>



    {% endblock content %}